In [1]:
%reload_ext autoreload
%autoreload 2

import pandas as pd
import numpy as np

In [2]:
# nba = pd.read_csv("../data/raw/demo/nba.csv")
# display(nba.head())

# automobile = pd.read_csv("../data/raw/demo/automobile.csv", header=None)
# automobile["brand"] = automobile[2].astype("category")
# display(automobile.head())

titanic = pd.read_csv("../data/raw/demo/titanic.csv")
display(titanic.head())

# merch = pd.read_csv("../data/raw/kaggle/summer-products-and-sales-in-ecommerce-wish/test.csv")
# display(merch.head())

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
from avatar.analysis import DatasetEvaluator

In [12]:
de = DatasetEvaluator(titanic, target="Survived")
de.evaluate()

[[0. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]]
[0.5921787709497207, 0.7359550561797753, 0.5561797752808989, 0.6067415730337079, 0.6067415730337079]

0.6195593496955623